{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Confirm deletion</title>
{% endblock %}

{% block content %}

  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-25">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">

                <div class="card-header pb-0 text-center bg-transparent">
                  <h3 class="font-weight-bolder my-primary-font">
                    Are you sure you want to delete "{{ position.name }}"?
                  </h3>
                </div>

                <div class="card-body">
                  <form role="form" method="post" action="#">
                    {% csrf_token %}

                    <div class="text-center">
                      <button type="submit"
                         class="btn my-bg-danger w-100 mt-1 mb-0">
                        Yes, delete
                      </button>
                    </div>

                    <div class="text-center">
                      <a href="{% url "task_manager:position-list" %}"
                         class="btn my-bg-primary w-100 mt-1 mb-0">
                        No, go back to the list
                      </a>
                    </div>

                  </form>
                </div>

              </div>
            </div>
            <div class="col-md-6 mt-8">

              {% if workers %}
                <div class="card mb-4">

                  <div class="card-header pb-0">
                    <h6>Employees with this position listed below will be deleted as well</h6>
                  </div>

                  <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">

                      <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                              First name</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                              Last name</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                              Username name</th>
                          </tr>

                        </thead>
                        <tbody>
                          {% for worker in workers %}
                            <tr>
                              <td>
                                <div class="d-flex px-3 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">{{ worker.first_name }}</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex px-3 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">{{ worker.last_name }}</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex px-3 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">@{{ worker.username }}</h6>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

                {% else %}

                <div class="card mb-4 h-25">
                  <div class="card-header pb-0">
                    <h6>There is no associated employees</h6>
                  </div>
                </div>

                {% endif %}

            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
