{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Positions</title>
{% endblock %}


{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">

          <div class="card-header pb-0">
            <div class="d-flex justify-content-between">
              <div>
                <h4>All positions</h4>
              </div>
              <div>
                <a class="btn my-bg-primary" href="{% url "task_manager:position-create" %}">Add position</a>
              </div>
            </div>
          </div>

          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">

              <table class="table align-items-center justify-content-center mb-0">

                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Position name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Number of this position</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Edit or delete</th>
                  </tr>
                </thead>

                <tbody>

                  {% for position in position_list %}
                    <tr {% if forloop.last or forloop.revcounter == 2 %}class="last-row"{% endif %} >

                      <td>
                        <div class="d-flex px-3 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ position.name }}</h6>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex px-3 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ position.count }}</h6>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="dropdown px-3 text-bold">
                          <a class="btn btn-link m-0 p-0" href="#">More</a>
                          <div class="dropdown-content flex-column text-center" style="border: 1px solid lightgrey">
                            <a href="{% url "task_manager:position-update" pk=position.pk %}" class="text-normal dropdown-option"
                              style="border-bottom: 1px solid lightgrey">Edit</a>
                            <a href="{% url "task_manager:position-delete" pk=position.pk %}" class="text-normal dropdown-option">
                              Delete</a>
                          </div>
                        </div>
                      </td>

                    </tr>

                  {% endfor %}

                </tbody>

              </table>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
