{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
  <title>{{ project.name }}</title>
{% endblock %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="card mb-4 pb-3">
      <div class="card-header pb-0">
        <div class="d-flex justify-content-between">
          <div class="px-1" style="width: 50%;">
            <h3>{{ project.name }}</h3>
            <p class="">{{ project.description }}</p>
            <span class="me-2 text-xs font-weight-bold">{{ project.get_percentage }}%</span>
            <div>
              <div class="progress">
                <div
                    class="progress-bar bg-gradient-{% if project.get_percentage < 30 %}danger
                    {% elif project.get_percentage < 70 %}info{% else %}success
                    {% endif %}"
                    role="progressbar" aria-valuenow="{{ project.get_percentage }}"
                    aria-valuemin="0" aria-valuemax="100" style="width: {{ project.get_percentage }}%;">
                </div>
              </div>
            </div>
            <p>
              <a href="{% url "task_manager:project-detail" pk=project.pk %}?sort_by=deadline"
                class="btn btn-link pe-3 ps-0 mb-0 ms-auto">
                Sort by deadline
              </a>
              <a href="{% url "task_manager:project-detail" pk=project.pk %}?sort_by=priority"
                class="btn btn-link pe-3 ps-0 mb-0 ms-auto">
                Sort by priority
              </a>
              {% if hide_completed == "True" %}
                <a href="{% url "task_manager:project-detail" pk=project.pk %}?hide_completed=False"
                  class="btn btn-link pe-3 ps-0 mb-0 ms-auto">
                  Show completed
                </a>
                {% else %}
                <a href="{% url "task_manager:project-detail" pk=project.pk %}?hide_completed=True"
                  class="btn btn-link pe-3 ps-0 mb-0 ms-auto">
                  Hide completed
                </a>
              {% endif %}

            </p>
          </div>
          <div class="d-flex">
            {% if user|has_group:"Team Lead Group" %}
              <div>
                <a class="btn btn-secondary" href="{% url "task_manager:project-update" pk=project.pk %}">Edit project</a>
              </div>
            {% endif %}
            {% if is_member or user|has_group:"Team Lead Group" %}
              <div class="px-3">
                <a class="btn btn-success" href="{% url "task_manager:task-create" project_id=project.pk %}">Add task</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% if tasks %}
        {% for task in tasks.all %}
          <div class="card-body py-2 px-4">
            <ul class="list-group">
            <li class="list-group-item border-0 flex-column p-4 m-0 bg-gray-100 border-radius-lg" style="min-height: 150px;">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="">{{ task.name }} {% if task.is_completed %}✅
                  {% elif task.deadline < now %}‼️
                  {% else %}▶️
                  {% endif %}
                </h5>
                <div>
                  {% if user|has_group:"Team Lead Group" %}
                    <a class="btn btn-outline-danger text-danger text-gradient m-1"
                       href="{% url "task_manager:task-delete" pk=task.pk %}">Delete</a>
                    <a class="btn btn-outline-secondary text-dark m-1"
                       href="{% url "task_manager:task-update" pk=task.pk %}">Edit</a>
                  {% endif %}
                  {% if is_member or user|has_group:"Team Lead Group" %}
                    <a class="btn btn-outline-success text-dark m-1"
                       href="{% url "task_manager:task-complete" pk=task.pk %}">Done</a>
                  {% endif %}
                </div>
              </div>
              <div class="d-flex">
                <div class="flex-column">
                  <div class="mb-2 text-s">Type: <span class="text-dark font-weight-bold ms-sm-2">{{ task.task_type }}</span></div>
                  <div class="mb-2 text-s">Deadline: <span class="text-dark ms-sm-2 font-weight-bold">{{ task.deadline }}
                  </span></div>
                  <div class="mb-2 text-s">Priority: <span class="text-dark ms-sm-2 font-weight-bold">{{ task.priority }}</span></div>
                </div>
                <div class="flex-column mx-5">
                  <div class="mb-2 text-s">Assigned to this task: <span class="text-dark ms-sm-2 font-weight-bold">
                    {% if task.assignees.all %}
                      {{ task.assignees.all|join:", " }}
                      {% else %}
                      No one
                    {% endif %}</span></div>
                  <div class="mb-2 text-s">Description: <span class="text-dark ms-sm-2 font-weight-bold">{{ task.description }}</span></div>
                </div>
              </div>
            </li>

          </ul>
        </div>
        {% endfor %}

            {% else %}

            <div class="card-body px-0 pt-3 pb-2">
              <div class="d-flex flex-column align-items-start mx-4">
                <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  No tasks yet
                </h6>
              </div>
            </div>

          {% endif %}

        </div>
  </div>

{% endblock %}
