{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
  <title>Project list</title>
{% endblock %}

{% block content %}
  <h1>List of Projects</h1>
  {% if user|has_group:"Team Lead Group" %}
    <a href="{% url "task_manager:project-create" %}">Create new Project</a>
  {% endif %}

  {% for project in project_list %}
    <div>
      <ul>
        <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
        <ul>
          <li><a href="">{{ project.description }}</a></li>
          <li><a href="">{{ project.tasks.count }}</a></li>
          <li>
          <ol>
            {% for team in project.team.all %}
              <li><a href="">{{ team.name }}</a></li>
            {% endfor %}
          </ol>
        </li>
        </ul>
      </ul>
    </div>
  {% endfor %}


{% endblock %}
