{% extends "base.html" %}
{% block title %}
  <title>Project list</title>
{% endblock %}
{% block content %}
  <h1>List of Projects</h1>
  <a href="{% url "task_manager:project-create" %}">Create new Project</a>

  {% for project in project_list %}
    <div>
      <ul>
        <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
        <ul>
          <li><a href="">{{ project.description }}</a></li>
        <li>
          <ul>

            {% for team in project.team.all %}
              <a href="">{{ team.name }}</a>
            {% endfor %}

          </ul>
        </li>
        <li><a href="">{{ project.tasks.count }}</a></li>
        </ul>
      </ul>
    </div>
  {% endfor %}


{% endblock %}
