{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
  <title>{{ project.name }}</title>
{% endblock %}

{% block content %}

  <h1>{{ project.name }}</h1>

  {% if user|has_group:"Team Lead Group" %}
    <a href="{% url "task_manager:project-update" pk=project.pk %}">Update project</a>
    <a href="{% url "task_manager:project-delete" pk=project.pk %}">Delete project</a>
  {% endif %}

  <h3>Teams on the project</h3>
  <ul>
    {% for team in project.team.all %}
      <li><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></li>
    {% endfor %}
  </ul>
  <br>
  <h2>Tasks</h2>

  {% if is_member or user|has_group:"Team Lead Group" %}
    <a href="{% url "task_manager:task-create" project_id=project.pk %}">Create new task</a>
  {% endif %}

  <p>
    <a href="{% url "task_manager:project-detail" pk=project.pk %}?sort_by=deadline">
      Sort by deadline
    </a>
    <a href="{% url "task_manager:project-detail" pk=project.pk %}?sort_by=is_completed">
      Sort by status
    </a>
    <a href="{% url "task_manager:project-detail" pk=project.pk %}?sort_by=priority">
      Sort by priority
    </a>
  </p>
  <ol>
    {% for task in tasks %}
      <li>
        <ul>
          <li>{{ task.name }}</li>
          <ul>
            <li>{{ task.description }}</li>
            <li><a href="{% url "task_manager:task-update" pk=task.pk%}">Update Task</a></li>
            <li><a href="{% url "task_manager:task-delete" pk=task.pk%}">Delete Task</a></li>
            {% if not task.is_completed %}
              <li>
                <form method="post" action="{% url 'task_manager:task-complete' pk=task.pk %}">
                  {% csrf_token %}
                  <button type="submit">Complete Task</button>
                </form>
              </li>
            {% endif %}
          </ul>
        </ul>
      </li>
    {% endfor %}

  </ol>
{% endblock %}
