{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
  <title>Teams list</title>
{% endblock %}

{% block content %}

  <h1>List of Teams</h1>
  {% if user|has_group:"Team Lead Group" %}
    <a href="{% url "task_manager:team-create" %}">Create new Team</a>
  {% endif %}

    {% for team in team_list %}
      <ul>
        <li>{{ team.name }}</li>
        <li>Team Lead: {{ team.team_lead }}</li>
        <li>Team members: {{ team.members.all|join:", " }}</li>
        <li><a href="{{ team.get_absolute_url }}">See details</a>{{ team.name }}</li>
      </ul>
    {% endfor %}

{% endblock %}
