<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Test</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div>
  <div>
    <div>

        {% block sidebar %}

        {% endblock %}

  </div>
    <div>
      <a href="{% url "task_manager:index" %}">Home</a>
      <button onclick="history.back()" >Back</button>

      {% block content %}{% endblock %}

      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}

    </div>
  </div>
</div>
</body>

</html>
